/* define the fonts */
@font-face {font-family: open_sans; src: url("/assets/fonts/open_sans/OpenSans-Regular.ttf");}
@font-face {font-family: open_sans; src: url("/assets/fonts/open_sans/OpenSans-Italic.ttf"); font-style: italic; } 
@font-face {font-family: open_sans; src: url("/assets/fonts/open_sans/OpenSans-Bold.ttf"); font-weight: bold; }
@font-face {font-family: open_sans; src: url("/assets/fonts/open_sans/OpenSans-BoldItalic.ttf"); font-style: italic; font-weight: bold; }
@font-face {font-family: open_sans_light; src: url("/assets/fonts/open_sans/OpenSans-Light.ttf");}
@font-face {font-family: open_sans_lightitalic; src: url("/assets/fonts/open_sans/OpenSans-LightItalic.ttf"); font-style:italic;}
@font-face {font-family: open_sans_semibold; src: url("/assets/fonts/open_sans/OpenSans-Semibold.ttf"); }
@font-face {font-family: open_sans_semibold; src: url("/assets/fonts/open_sans/OpenSans-SemiboldItalic.ttf"); font-style: italic; }
@font-face {font-family: open_sans_extrabold; src: url("/assets/fonts/open_sans/OpenSans-ExtraBold.ttf");}
@font-face {font-family: open_sans_extrabold; src: url("/assets/fonts/open_sans/OpenSans-ExtraBoldItalic.ttf"); font-style:italic;}