/* define the fonts */
@font-face {font-family: open_sans; src: url("../open_sans/OpenSans-Regular.ttf");}
@font-face {font-family: open_sans; src: url("../open_sans/OpenSans-Italic.ttf"); font-style: italic; } 
@font-face {font-family: open_sans; src: url("../open_sans/OpenSans-Bold.ttf"); font-weight: bold; }
@font-face {font-family: open_sans; src: url("../open_sans/OpenSans-BoldItalic.ttf"); font-style: italic; font-weight: bold; }
@font-face {font-family: open_sans_light; src: url("../open_sans/OpenSans-Light.ttf");}
@font-face {font-family: open_sans_lightitalic; src: url("../open_sans/OpenSans-LightItalic.ttf"); font-style:italic;}
@font-face {font-family: open_sans_semibold; src: url("../open_sans/OpenSans-Semibold.ttf"); }
@font-face {font-family: open_sans_semibold; src: url("../open_sans/OpenSans-SemiboldItalic.ttf"); font-style: italic; }
@font-face {font-family: open_sans_extrabold; src: url("../open_sans/OpenSans-ExtraBold.ttf");}
@font-face {font-family: open_sans_extrabold; src: url("../open_sans/OpenSans-ExtraBoldItalic.ttf"); font-style:italic;}

/* define some global parameters */
body {font-family: open_sans, sans_serif; line-height: 1.5; margin:0;}
* {box-sizing: border-box;} /*border for debug*/
[class*="col"] {width: 100%; }

/* define column for mobile screens */
.col1-s{width:8.33333%;}
.col2-s{width:16.66666%;}
.col3-s{width:24.99999%;}
.col4-s{width:33.33333%;}
.col5-s{width:41.66666%;}
.col6-s{width:49.99999%;}
.col7-s{width:58.33333%;}
.col8-s{width:66.66666%;}
.col9-s{width:74.99999%;}
.col10-s{width:83.33333%;}
.col11-s{width:91.66666%;}
.col12-s{width:99.99999%;}

/* section for generic styling, usually as styling button */
@keyframes fadein { from{-webkit-filter:opacity(0);filter:opacity(0);} to{-webkit-filter:opacity(100%);filter:opacity(100%);} }
.clearfloat > *{float:left;}
.clearfloat{overflow:hidden;}
.clearfloat::after{content:""; clear:both;}
.flexcontainer{display:flex; flex-wrap:wrap;}
.flexcolumn{flex-direction:column;}
.flexcenter{justify-content:center; align-items:center; align-content:center;}
.flexbottom{align-items:baseline;}
.flexbalance{justify-content:space-around;}
.centertxt{text-align:center;}
.dashhr{width:80%;border-style:dashed;}
.imgcentered{clear: both; text-align: center; margin:1em auto;}
.imgframed{box-shadow:0px 0px 2px 1px #777777;}
.hidearticle {display: none;}

/* section for specified styling, usually object oriented */
header {text-align: center; height: 200px; background:url("../images/sailing-boat.jpg") center center/cover no-repeat;margin:0;padding:30px 0;}
header > * {margin: auto;}
header > h1 {margin: 20px auto 10px;color:rgba(255,255,255,0.9);text-shadow:0px 0px 10px #222222;}
header.homepage{-webkit-animation:fadein 3s;animation:fadein 3s;}
section{padding:40px 5%;}
h1,h2,h3,h4,h5,h6,p {margin:8px 0;}
.navbar {display:none;}
a{text-decoration:none;}
article{padding: 3em 8% 7em;}

#bannerlist li{list-style-type:none; font-weight:bold; padding:5px 0;}
#bannerlist a{font-size: 1.5em;background-color:rgba(220,220,220,0.4);border-right:2px solid rgba(255,255,255,0.9);}
#bannerlist a:last-child{border-right:none;}
#bannerlist a:link{color:rgba(255,255,255,0.9);}
#bannerlist a:hover{box-shadow:0px 0px 10px 2px #ffffff inset;}
#bannerlist a:visited{color:rgba(255,255,255,0.9);}
.avatarimg{border-radius:50%;width:90%;max-width:210px;margin:5px auto;}
#name{margin:0 0 10px;}
#bio {padding:10px 4%; background-color:#f2f2f2;}
#olcourse > h1{margin:0 0 10px;text-align:center;}
.olcourseintro {margin: 0 0 1em;}
.olcourseitem {margin:0 3%; padding:0.7em 0 1em;}
.olcourseitem h2 {font-size: 1em; line-height:1;}
#olcourse a, .demoLink, #bio a, .tag {color:#2040a0;}
#olcourse a:hover, .demoLink:hover, #bio a:hover {color:#a0a0a0;}
span.tag {padding: 0 10px;}
.tag:hover {color:#a0a0a0; font-weight: bold; cursor: pointer;}
.olcoursedescription {color:#8c6e6a; font-size: 0.9em;}
.difficulty, .recommend {color:#0667d6;}
.nopaddinglist {padding:0;}

.skillhead{width:140px;font-weight:bold;}
.skillbody{font-style:italic;}
.projectitem{padding:2em 5% 4em;}
.projectitem h2 {font-size: 1.2em;}
.titlenote{margin:auto auto 1em; color:#777777;}
.titlenote time{margin:0 30px 0 0;}
.svg_space {border:0; box-shadow:none; display:inline-block; padding:0 7px; vertical-align:middle;}
.svg_icon {border-radius: 4px; display: inline-block; height:32px; line-height: 32px; opacity: 1; width: 32px;}
.svg_icon_linkedin {background-color: rgb(0, 123, 181);}
.svg_icon_linkedin:hover {background-color: rgb(20, 153, 201);}
.svg_icon_gmail {background-color:rgb(237, 237, 237);}
.svg_icon_gmail:hover {background-color:rgb(220, 230, 221);}
.svg_icon_gplus {background-color:rgb(224, 47, 47);}
.svg_icon_gplus:hover {background-color:rgb(224, 100, 100);}
.svg_icon_github {border-radius:16px;}
.svg_icon_github:hover {background-color:#f0f0f0;}
.lineAfter, .projectitem, .olcourseitem {border-bottom:1px solid #f0f0f0;}
article {border-bottom: 5px solid #f0f0f0; border-top: 5px solid #f0f0f0;}
