html {
	font-size: 14px; /* px means pixel. default font size is 14px */
	font-family: 'Open Sans', sans-serif; /* derived from google font */
}

h1 {
	font-size: 60px;
	text-align: center;
}

p, li {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}